footer {
    padding: 4rem 5rem 2rem;
    border-top: 1px solid var(--cyan-3);
    display: grid;
    grid-template-areas: 
    "left right"
    "bottom bottom";
    gap: 3rem;
    height: 25rem;
}

.footer-left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

.footer-left h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.footer-right {
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.email-text {
    color: var(--muted);
    font-size: 0.9rem;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-bottom {
    grid-area: bottom;
    text-align: center;
    color: var(--muted);
    font-size: 0.8rem;
    line-height: 1.6rem;
}

@media (width < 600px) {
    footer {
        padding: 3rem 2rem 2rem;
        grid-template-areas: 
        "left left"
        "right right"
        "bottom bottom";
    }

    .footer-left {
        align-items: center;
    }

    .footer-left ul {
        text-align: center;
    }

    .footer-right {
        justify-content: center;
    }
}

@media (width > 600px) {
    footer ul a:hover {
        color: var(--cyan-2);
    }
}